<nav class="navbar navbar-default" style="margin-bottom: 0px">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" style="padding:2px;" href="#">
            <img style="height: 100%; width: 100%;" src="https://kurenai-image-testing.s3.ap-south-1.amazonaws.com/up.png">
        </a>
      </div>
      <ul class="nav navbar-nav" style="float:none" id="header_nav">
        <li class="navigate_item"><a href="#">Home</a></li>
        <li class="navigate_item"><a href="/MyQuestions">My Questions</a></li>
        <li class="navigate_item"><a href="/questions">All Questions</a></li>
        <li class="navigate_item"><a href="/tests">Tests</a></li>
      </ul>
    </div>
  </nav>