.basicSettings{
    padding: 5px;
    background-color: grey;
 }

 #editorBlock{
    min-height: 700px;
    padding: 5px;
    width: 100%;
 }

 #questionBox{
  min-height: 700px;
  padding: 5px;
  width: 100%;
  border: 2px solid black;
  margin: 2px;
}

 #customInput{
   min-height: 200px;
   background-color: black;
   width: 100%;
   padding-left: 0px;
   color:white;
   float: left;
 }

 #customOutput{
   min-height: 200px;
   background-color: black;
   width: 100%;
   padding-left: 0px;
   color:white;
   float: left;
 }